@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  list-style: 2rem;
}

p {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 2rem;
}
button {
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  font-family: "Poppins";
  border: transparent;
  text-align: center;
  font-weight: 700;
}
img {
  width: 100%;
  border-radius: 10px;
}
.btns {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 200px;
}
/* Candidate-Card */

.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 1.5rem;
  max-width: 1000px;
  padding-top: 4rem;
  margin: auto;
}
.items {
  width: 300px;
  height: 300px;
  box-shadow: -1px 2px 18px -1px rgba(116, 115, 115, 0.7);
  -webkit-box-shadow: -1px 2px 18px -1px rgba(116, 115, 115, 0.7);
  -moz-box-shadow: -1px 2px 18px -1px rgba(116, 115, 115, 0.7);
  border-radius: 10px;
}

.vote-btn {
  width: 100px;
  list-style: none;
  text-decoration: none;
}
